@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e2c6d4;
    margin: 10px;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 400px;
    height: 270px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.525);
}

main p{
    margin-top: 20px;
    line-height: 1.5em;
    font-weight: bold;
}